<div class="container">
    <form [formGroup]="programmeForm" (ngSubmit)="submitProgramme()">
        <h2>Create Faculty</h2>

        @if (showUniversities) {
            <div class="mx-4 my-4">
                <mat-form-field>
                    <mat-label>University</mat-label>
                    <mat-select (selectionChange)="updateUniversity($event)">
                        @for (university of universities; track university) {
                            <mat-option [value]="university.id">
                                {{ university.name }}
                            </mat-option>
                        }
                    </mat-select>
                </mat-form-field>
            </div>
        }
        
        @if(showFaculties) {
            <div class="mx-4 my-4">
                <mat-form-field>
                    <mat-label>Faculty</mat-label>
                    <mat-select (selectionChange)="this.facultyId = $event.value">
                        @for (faculty of faculties; track faculty) {
                            <mat-option [value]="faculty.id">
                                {{ faculty.name }}
                            </mat-option>
                        }
                    </mat-select>
                </mat-form-field>
            </div>
        }

        <div class="mx-4 my-4">
            <mat-form-field>
                <mat-label>Title</mat-label>
                <input matInput formControlName="title">
            </mat-form-field>
        </div>

        <div class="mx-4">
            <mat-form-field>
                <mat-label>Description</mat-label>
                <textarea matInput formControlName="description"></textarea>
            </mat-form-field>
        </div>

        <div class="mx-4">
            <button mat-flat-button color="primary" type="submit">Submit</button>
        </div>
    </form>
</div>
