<div class="container">
    <form [formGroup]="facultyForm" (ngSubmit)="submitFaculty()">
        <h2>Create Faculty</h2>

        @if (showUniversities) {
            <div class="mx-4 my-4">
                <mat-form-field>
                    <mat-label>University</mat-label>
                    <mat-select formControlName="universityId" (selectionChange)="this.universityId = $event.value">
                        @for (university of universities; track university) {
                            <mat-option [value]="university.id">
                                {{ university.name }}
                            </mat-option>
                        }
                    </mat-select>
                </mat-form-field>
            </div>
        }

        <div class="mx-4 my-4">
            <mat-form-field>
                <mat-label>Name</mat-label>
                <input matInput formControlName="name">
            </mat-form-field>
        </div>

        <div class="mx-4">
            <mat-form-field>
                <mat-label>Dean</mat-label>
                <input matInput formControlName="dean">
            </mat-form-field>
        </div>

        <div class="mx-4 my-4">
            <mat-form-field>
                <mat-label>Address</mat-label>
                <input matInput formControlName="address">
            </mat-form-field>
        </div>

        <div class="mx-4">
            <button mat-flat-button color="primary" type="submit">Submit</button>
        </div>
    </form>
</div>
