<div class="container">
    <form [formGroup]="disciplineForm" (ngSubmit)="submitDiscipline()">
        <h2>Create Discipline</h2>

        @if (showUniversities) {
            <div class="mx-4 my-4">
                <mat-form-field>
                    <mat-label>University</mat-label>
                    <mat-select (selectionChange)="updateUniversity($event)">
                        @for (university of universities; track university) {
                            <mat-option [value]="university.id">
                                {{ university.name }}
                            </mat-option>
                        }
                    </mat-select>
                </mat-form-field>
            </div>
        }

        @if(showFaculties) {
            <div class="mx-4 my-4">
                <mat-form-field>
                    <mat-label>Faculty</mat-label>
                    <mat-select (selectionChange)="updateFaculty($event)">
                        @for (faculty of faculties; track faculty) {
                            <mat-option [value]="faculty.id">
                                {{ faculty.name }}
                            </mat-option>
                        }
                    </mat-select>
                </mat-form-field>
            </div>
        }

        @if (showProgrammes) {
            <div class="mx-4 my-4">
                <mat-form-field>
                    <mat-label>Programme</mat-label>
                    <mat-select (selectionChange)="this.programmeId = $event.value">
                        @for (programme of programmes; track programme) {
                            <mat-option [value]="programme.id">
                                {{ programme.title }}
                            </mat-option>
                        }
                    </mat-select>
                </mat-form-field>
            </div>
        }

        <div class="mx-4 my-4">
            <mat-form-field>
                <mat-label>Name</mat-label>
                <input matInput formControlName="name">
            </mat-form-field>
        </div>

        <div class="mx-4">
            <mat-form-field>
                <mat-label>Credits</mat-label>
                <input matInput formControlName="credits">
            </mat-form-field>
        </div>
        
        <div class="mx-4">
            <mat-form-field>
                <mat-label>Lecturer</mat-label>
                <input matInput formControlName="lecturer">
            </mat-form-field>
        </div>
        
        <div class="mx-4">
            <mat-form-field>
                <mat-label>Assistants</mat-label>
                <input matInput formControlName="assistants">
            </mat-form-field>
        </div>
        
        <div class="mx-4">
            <mat-form-field>
                <mat-select formControlName="disciplineCategory">
                    <mat-label>Категория</mat-label>
                    @for(key of Object.keys(DisciplineCategory); track $index) {
                        <mat-option [value]="key">
                            {{ Object.values(DisciplineCategory)[$index] }}
                        </mat-option>
                    }
                </mat-select>
            </mat-form-field>
        </div>

        <div class="mx-4">
            <mat-form-field>
                <mat-select formControlName="disciplineType">
                    <mat-label>Тип</mat-label>
                    @for(key of Object.keys(DisciplineType); track $index) {
                        <mat-option [value]="key">
                            {{ Object.values(DisciplineType)[$index] }}
                        </mat-option>
                    }
                </mat-select>
            </mat-form-field>
        </div>
        
        <div class="mx-4">
            <mat-form-field>
                <mat-label>Description</mat-label>
                <textarea matInput formControlName="description"></textarea>
            </mat-form-field>
        </div>

        <div class="mx-4">
            <button mat-flat-button color="primary" type="submit">Submit</button>
        </div>
    </form>
</div>
