<main class="mx-10 my-20">
    <section class="flex flex-col items-center bg-white">
        <h1 class="mt-40 text-5xl font-semibold text-center text-black text-opacity-70 max-md:mt-10 max-md:max-w-full max-md:text-4xl">
            Потърси курсове и <br /> университети
        </h1>
        <p class="mt-28 text-xl font-semibold text-center text-black text-opacity-40 max-md:mt-10 max-md:max-w-full">
            Чети рецензии търсейки по факултет, дисциплина и университет
        </p>

        <h2 class="mt-96 text-5xl font-semibold text-center text-black text-opacity-70 max-md:mt-10 max-md:text-4xl">
            Рецензии
        </h2>
    </section>

    <app-reviews [reviews]="reviews"></app-reviews>
</main>
